/* main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
} */

@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Fira+Code:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: aliceblue;
    font-family: "Work Sans", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

main section {
    text-align: center;
}


/* header */
header {
    background-color: #1b28336e;

    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    padding: 35px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    background-color: #67A7DB;
    color: #1B2833;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
    padding-top: 5px;
}
/* -------------- */

.icon {
    width: 80px;
    padding-top: 10px;
}

/* First Section */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-img {
    width: 100%;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;

    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;

    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
}

#hero-msg h4 span {
    color: #67A7DB;
}


.home-title {
    font-family: "Barriecito", system-ui;
    color: #ffffff;
    font-size: 2em;

    margin-top: 10px;
}

.book, .join {
    background-color: #D4B579;
    color: #65433A;
    font-size: 18px;
    border-radius: 5px;

    padding: 15px 30px;
    margin-top: 50px;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #DB6B67;
    color: #65433A;
}

/* CONTENT */
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img {
    width: 100%;
    border: 10px solid #1B2833;
    box-sizing: border-box;
    transition: transform .5s, opacity .5s;
    box-shadow: 5px 5px 6px #1B2833;
}

.card-img:hover {
    transform: scale(1.1);

    opacity: 0.9;
}

.mountains {
    width: 100%;

    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #65433A;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    height: 725px;
    background-color: #D4B579;

    grid-column: 1/11;
    grid-row: 4/9;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    padding: 0;

    font-family: "Fira Code", monospace;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
/* =========================================== */


/* MSG section */
.msg {
    background-color: #A87371;
    line-height: 1.5em;

    padding: 35px;

    grid-column: 6/10;
    grid-row: 6/7;
    
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: #65433A;
    font-family: "Fira Code", monospace;
}

.msg p {
    color: #65433A;
    font-size: .8em;

    padding-bottom: 15px;
}

.button-box {
    text-align: center;
}

/* footer stuff */
footer {
    background-color: #67A7DB;
    color: #1B2833;

    padding: 25px 50px;
    margin-top: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*  */
footer a {
    color: #1B2833;
    text-decoration: none;
}

footer a:hover {
    color: #1B2833;
}

/*  */
footer p {
    font-size: 1.2rem;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}