#wrapper {
    padding: 15px 30px;
    margin: 0 auto;

    background-color: orange;
    border-radius: 15px;
}
body {
    font-family: sans-serif;
}
nav {
    background-color: rgb(132, 87, 5);
    padding: 10px 0px;
    border-radius: 15px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
li {
    display: inline-block;
    margin: 0px;
    padding: 5px 8px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
}
li:hover{
    background-color: blanchedalmond;
    color: brown;
    cursor: pointer;

}

main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 16%);
    justify-items: center;
    gap: 5px;
}


h1 {
    font-weight: 200;
    font-size: 55px;
    font-family: fantasy;
    color: rgb(110, 27, 27);

    grid-column: 2/6;
    transition: transform .2s;
}

h1:hover {
    transform: rotate(1deg);
}

img {
    width: 100%;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0);
    border-radius: 5px;
    grid-column: 2/-2;
    transition: transform .4s;
}

img:hover {
    transform: scale(1.01);
}

section {
    width: 100%;
    grid-column: span 2;
    justify-self: center;
}

section h2 {
    display: flex;
    justify-content: center;

    font-size: 36px;
    font-family: fantasy;
    font-weight: 100;
    color: rgb(110, 27, 27);

    transition: color .3s;
}
section h2:hover {
    color: rgb(115, 89, 32);
    transform: scale(0.97);
}

section p {
    padding: 0 30px;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    color: beige;
}
section p:hover {
    font-size: 19px;
}

footer {
    text-align: center;
    color: rgb(57, 57, 6);
    font-weight: 300;
}
