body {
    background-color: #cfcfcf;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

.departure_info {    
    background-color: #001b36;
    color: #1D3752;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    /* #213b56 */

    padding: 8px 25px;
}

.departure_info h4 {
    font-size: 10px;
    padding: 15px;
    margin: 0;
}

.departure_info h2 {
    color: white;
    font-size: 34px;
    margin: 0;
}

.departure_info img {
    padding-top: 22px;
    width: 75px;
}

.gate_info {
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gate_info div {
    padding: 30px 25px;
}

.gate_info h3 {
    color: #1D3752;
    text-align: center;

    font-weight: 800;
    font-size: 10px;
    margin: 0;
}

.gate_info h5 {
    color: #1D3752;
    text-align: center;

    font-weight: 100;
    font-size: 20px;
    margin: 0;
}

#boarding_pass {
    background-color: white;
    max-width: 500px;
    margin: 0 auto;

    border-radius: 19px;
    box-shadow: 0px 1px 3px 2px gray;
}

header {
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;

    padding: 11px 35px 0px 25px;
}

header .logo {
    text-align: left;
}

.name {
    padding-top: 9px;
    font-weight: lighter;
    color: #001b36;

    font-size: 13px;
}


.barcode img {
    width: 90%;
}

.barcode {
    padding: 22px;
    text-align: center;
}

.barcode p {
    color: #1D3752;
    font-weight: 100;
    font-size: 12px;
}

footer {
    margin-bottom: 50px;
}