* {
    margin: 0;
}

body {
    background: rgb(120, 96, 64);
    font-size: 18px;
}

#formContainer {
    width: 500px;
    height: 795px;
    margin: 15px auto;
    border: #0D2E7C solid 12px;
    border-radius: 25px;
    background-color: white;
}

.hero-img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
#closeBtn {
    position: absolute;
    margin: 10px;
    z-index: 1;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 15px;
}

.herosection h1, .herosection h2 {
    position: relative;
    transform: translateY(-250px);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px black;
}
.herosection h1 {
    font-size: 45px;
}
.herosection h2 {
    font-size: 35px;
    font-weight: 100;
}
#whole-form {
    position: relative;
    transform: translateY(-200px);
    background-color: white;
}

#myForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px;
    gap: 20px 20px;
}
#myForm input {
    margin: 3px;
}
#formContainer h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    padding: 20px;
}

.onecolumn {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-column: 1/3;
    gap: 15px;
    padding: 20px;
}

.scriptures {
    display: grid;
    grid-template-columns: 1fr 1fr .9fr 1fr 1fr;
    gap: 2px;
}

.scriptures img {
    width: 100%;
    height: 100%;
}