body {
    background-color: aquamarine;
    color: darkolivegreen;
}

h1 {
    color: white;
    padding: 30px 15px;
    background-color: brown;
    border: 2px solid white;
    margin: 15px;
}

p {
    background-color: beige;
}

.flavors {
    background-color: bisque;
    font-style: italic;
    color: darkgreen;
}

#cultures {
    font-weight: 100;
    color: black;
}