

div {
    background-color: rgb(130, 193, 248);
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    padding: 5px;
}

.first {
    grid-column: 1fr;
}

.second {
    grid-column: 1fr;
}

.third {
    background-color: purple;
    grid-column: 1/-1;
}

.fourth {
    grid-column: 6/-1;
    font-weight: bold;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fir {
    grid-column: 1/3;
    background-color: red;
}

.sec {
    grid-column: 1/3;
    background-color: yellow;
}

.thi {
    background-color: blue;
}

.for {
    background-color: black;
}