@import url('https://fonts.googleapis.com/css2?family=Varela&family=Varela+Round&display=swap');
:root {
    --primary: #F7F4B9;
    --secondary: #FECA66;

    --accent: #A3D6B1;
    --dark-accent: #13331C;

    --dark-text: #3C3B34;
    --light-brown: #fffad280;

    --dark-brown: #33310D;
    --light-background: #CDCCB5;

    --standard-size: 18px;
    --heading-size: 60px;
    --second-heading-size: 45px;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Varela Round", sans-serif;
}

nav {
    width: 100%;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: absolute;
    background-color: #FBFCFB;
}
nav img {
    max-width: 60px;
    margin: 10px 40px;
    z-index: 2;
}
nav img:hover {
    transform: scale(1.08);
}
ul {
    text-decoration: none;
    margin: 0 15px;
}
li {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 15px;
    font-size:var(--standard-size);
}
li:hover {
    background-color: var(--light-background);
    color: var(--dark-brown);
    transform: scale(1.03);
}
li a {
    text-decoration: none;
    color: var(--dark-text)
}

h1 {
    text-align: center;
    margin-top: 150px;
    font-size: var(--second-heading-size);
    color: var(--dark-text);
}

.main-grid {
    padding: 40px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 0 auto;
    min-width: 300px;
    max-width: 105%;
    box-sizing: border-box;
    justify-items: center;
}
.link-container {
    text-decoration: none;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 0;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: #cdccb56b;
    border-radius: 15px;
    transition: transform .2s, box-shadow .2s;
}
.card:hover {
    box-shadow: 0px 0px 5px #3C3B34;
    transform: scale(1.02);
}
.card img {
    grid-column: 1/3;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.card h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 25px 15px 30px;
    margin: 0;
    color: var(--dark-text);
    grid-column: 1/3;
    text-align: center;
}
.card p {
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    padding: 0px 15px 15px;
    color: grey;
    text-align: right;
    padding-right: 15px;
    grid-column-start: 2;
}
.card h4 {
    font-size: 18px;
    font-weight: 200;
    padding: 0px 20px 15px;
    margin: 0;
    color:var(--dark-text);
    grid-column: 1/3;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    margin: 100px 0px 0px 0px;
    padding-right: 200px;
    background-color: var(--light-background);
}
.contactflex {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 65%;
    align-self: center;
}
.contactflex h2 {
    color: var(--dark-text);
}
.contactflex p {
    width: 80%;
    color: var(--dark-text);
}
.contactgrid {
    display: grid;
    grid-template-columns: 40px 200px;
    justify-items: left;
    align-items: center;
    padding: 30px;
}
.contactgrid h2 {
    grid-column: 1/span 2;
    color: var(--dark-text);
}
.contactgrid p {
    color: var(--dark-text);
    max-width: 400px;
}
.contactgrid i {
    color: var(--dark-text);
    font-size: 25px;
}
/* .socialbtn {
    padding: 7px 5px 5px 6px;
    border-radius: 50%;
    background-color: #A3D6B1;
    box-sizing: border-box;
}
.socialbtn i {
    text-align: center;
    font-size: 25px;
} */
