@import url('https://fonts.googleapis.com/css2?family=Varela&family=Varela+Round&display=swap');

:root {
    --primary: #F7F4B9;
    --secondary: #FECA66;

    --accent: #A3D6B1;
    --dark-accent: #13331C;

    --dark-text: #3C3B34;
    --light-brown: #fffad280;

    --dark-brown: #33310D;
    --light-background: #CDCCB5;

    --standard-size: 18px;
    --heading-size: 60px;
    --second-heading-size: 45px;
}
html {
      scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Varela Round", sans-serif;
}

nav {
    width: 100%;
    display: flex;   
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    background-color: #fbfcfb82;
}
nav img {
    max-width: 60px;
    margin: 10px 40px;
    z-index: 4;
}
nav img:hover {
    transform: scale(1.08);
}
ul {
    text-decoration: none;
    margin: 0 15px;
}
li {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 15px;
    font-size:var(--standard-size);
}
li:hover {
    background-color: var(--light-background);
    color: var(--dark-brown);
    transform: scale(1.03);
}
li a {
    text-decoration: none;
    color: var(--dark-text)
}
header {
    background-color: #FBFCFB;
}
.herosection {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 15px;
    justify-items: center;
}
.herosection img {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 105%;
    margin-top: -100px;
    z-index: 0;
}
.herotitle {
    font-size: var(--heading-size);
    font-family: "Varela", sans-serif;
    font-weight: 100;
    margin: 28% 2rem 3rem;
    text-align: center;
    /* max-height: 80px; */
    color: var(--dark-text);
}
.herotitle span {
    font-size: 16px;
}
.pbtn {
    text-decoration: none;
    color: var(--dark-accent);   
    background-color: var(--accent);
    padding: 10px 20px;
    border-radius: 15px;

    width: fit-content;
    height: fit-content;
    font-weight: 100;
    font-size: var(--standard-size);
    margin: 0 10px;
}
.pbtn:hover {
    color: var(--accent);
    background-color: var(--dark-accent);
}
.sbtn {
    text-decoration: none;
    color: var(--dark-brown);
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--light-background);
    width: fit-content;
    height: fit-content;
    font-weight: 100;
    font-size: var(--standard-size);
    margin: 0 10px;
}
.sbtn:hover {
    color: var(--light-background);
    background-color: var(--dark-brown);
}

/* ABOUT SECTION */
.aboutmetitle {
    margin: 3rem 0;
    padding-top: 6rem;
    text-align: center;
    font-size: var(--heading-size);
    font-weight: 100;
    color: var(--dark-text);
}
.about-grid {
    width: 85%;
    margin: 3rem auto;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 15px;
    justify-content: center;
}
.big {
    grid-column-start: 2;
    grid-row: 1/3;
}
.block {
    background-color: #cdccb53b;
    padding: 30px;
    height: auto;
    display: grid;
    justify-items: center;
    border-radius: 15px;
    gap: 10px;
}
.block h1 {
    margin: 0;
    font-weight: 100;
    font-size: var(--second-heading-size);
    align-self: center;
    color: var(--dark-brown);
}
.block p {
    margin: 0;
    padding: 2% 5%;
    font-size: var(--standard-size);
    color: var(--dark-text);
}
.block img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#quote {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 8rem auto;
    padding: 15px;
    border-left: 5px solid grey;
}
#quote h2 {
    font-size: var(--second-heading-size);
    font-weight: 100;
    color: var(--dark-text);
    text-align: center;
    margin: 0;
}
#author-name {
    font-size: 25px;
    color: var(--dark-text);
    text-align: center;
    margin: 20px 0 0;
    font-weight: 600;
}
#author-description {
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    color: var(--dark-text);
    margin: 10px 0 0;

}

/* PORTFOLIO */
.gallery_grid {
    width: 100%;
    background-color: #cdccb574;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 25px;
    padding: 65px;
    box-sizing: border-box;
    margin: 0 auto;
    height: fit-content;
}
.card {
    padding: 25px;
    border-radius: 15px;
    background-color: var(--light-background);
    box-sizing: border-box;
    max-width: 400px;
}
.card:hover {
    box-shadow: 0px 0px 5px #3C3B34;
}
.card img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px;
}
.card h3 {
    font-size: 28px;
    color: var(--dark-text);
    font-weight: 100;
}
.card p {
    font-size: 16px;
    color: var(--dark-text);
}
.card a {
    color: var(--dark-text);
    text-decoration: none;
    font-weight: 600;
}
.btn {
    padding: 5px;
    width: fit-content;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    transition: gap .2s;
}
.btn:hover {
    gap: 15px;
}

/* FOOTER */
.flexcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.flexcontainer h3 {
    color: var(--dark-accent);
}
.social {
    display: flex;
    gap: 15px;
}
.social i {
    font-size: 25px;
    color: var(--dark-accent);
}
.social i:hover {
    text-shadow: 1px 1px 3px #58585865;
}
.copyright {
    font-size: 12px;
}
















/* .back-top-btn {
    background-color: var(--dark-accent);
    position: fixed;     
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
}
.back-top-btn i {
    font-size: 20px;
    color: var(--accent);
    text-align: center;
} */